:root {
    --background: rgb(18, 0, 58);
    --content-background: purple;
    --content-shadow: rgb(77, 0, 77);
    --message-background: rgb(45, 0, 45);
    --msg-triangle-size: 20px;
}

body {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    font-family: 'Courier New', Courier, monospace;
}

.switch-tabs {
    position: absolute;
    bottom: 3vh;
    font-size: larger;
}

.tab {
    background-color: var(--content-background);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 10px 0px 0px var(--content-shadow);
    display: flex;
    flex-direction: column;
    gap: 4%;
}

.none {
    display: none;
}

.register-tab {
    height: 40vh;
    justify-content: space-between;
}

.register-form {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.register-form label {
    display: block;
    font-size: larger;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
    scale: 1.4;
    height: 30%;
}

.message-tab {
    height: 80vh;
    overflow: hidden;
}

header {
    border: 2px solid var(--content-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 10%;
    box-shadow: 0px 5px 0px 5px var(--content-shadow);
}

main {
    color: white;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2%;
}

.messages {
    background-color: var(--content-shadow);
    height: 60vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 2%;
    overflow-y: scroll;
}

.message {
    background-color: var(--message-background);
    position: relative;
    padding: 0px 10px;
}

.other-user-message {
    margin-left: var(--msg-triangle-size);
}

.my-message {
    margin-right: var(--msg-triangle-size);
}

.other-user-message::before, .my-message::after {
    content: "a";
    color: transparent;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    width: 0; 
    height: 0; 
    border-top: 25px solid var(--message-background);
}

.other-user-message::before {
    left: calc(0px - var(--msg-triangle-size));
    border-left: var(--msg-triangle-size) solid transparent;
}

.my-message::after {
    right: calc(0px - var(--msg-triangle-size));
    border-right: var(--msg-triangle-size) solid transparent;
}

.my-message .username {
    text-align: end;
}

.new-message {
    height: 7%;
    background-color: var(--content-background);
    overflow: hidden;
    bottom: 10px;
    box-shadow: 0px 10px 0px 0px var(--content-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.new-message * {
    height: 100%;
}

#msg-content {
    width: 100%;
}